/* Font Imports */
@import "https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900";
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'";

/* Font-Face Declarations */
@font-face {
  font-family: "Bonnaco-Condensed";
  src: url("../fonts/bonnaco-condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bannaco-Regular";
  src: url("../fonts/bonnaco.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Root Variables */
:root {
  --light-gray: #818181;
  --primary-color: #424242;
  --secondary-color: #f8f8ff;
  --accent-color: #008DB9;
  --secondary-color: #f8f8ff;
  --white-color: #fff;
  --black-color: #000;
  /* #0e1111 */
}

/*Global Settings*/
body {
  font-family: "Montserrat-Light", sans-serif;
  background-color: #060808;
  color: var(--white-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: 0;
}
h1 {
  font-size: 4.5rem;
  color: var(--accent-color);
}
h2 {
  font-size: 4rem;
  color: var(--secondary-color);
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2.5rem;
  font-style: italic;
  color: #818181;
}
a {
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 4rem; /* Adjust font size for smaller screens */
  }
  h2 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }
  h3 {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
  p {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
  a {
    font-size: 1.5rem;
  }
}

section {
  text-align: center;
}

/*Helper class*/
.section {
  padding: 100px 0;
}

/* Navigation Menu */
nav {
  background-color: var(--black-color);
  padding: 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  
}
nav ul li {
  display: inline-block; 
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  text-decoration: none;
  color: var(--accent-color);
}
 nav .logo {
  float: left;
  font-size: 24px;
}

/* Hamburger Menu */
.McButton {
  display: none;
}
.overlay {
  display: none;
}
.overlay-content {
  display: none;
}
@media (max-width: 768px) {
  .overlay {
    display: block;
  }
  .overlay-content {
    display: block;
  }
  button {
    background: none;
    border: none;
    padding: none;
  }
  .McButton {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    width: 44px; 
    height: 22px;
    cursor: pointer;
  }
  .McButton b {
    position: absolute;
    left: 0;
    width: 44px;
    height: 3px;
    background-color: white;
  }
  
  .McButton b:nth-child(1) {
    top: 0;
  }
  .McButton b:nth-child(2) {
    top: 50%;
  }
  .McButton b:nth-child(3) {
    top: 100%;
  }
  nav ul {
    display: none;
  }
    /* Base styles for overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .overlay.open {
    height: 100%;
  }

  .closebtn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 44px;
    width: 44px;
    height: 44px;
    display: flex;
    text-decoration: none !important;
  }

  .overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-top: 30px;
  }

  .overlay-content a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }

  .overlay-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

}

/* Header */
header {
  width: 100%;
  height: 97vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box {
  width: 75%;
  text-align: center;
  overflow: hidden;
}
.dune-media-title {
  height: 100%;
  text-shadow: -1px -1px 0 #00688B, 1px -1px 0 #00688B, 1px 1px 0 #00688B,
    1px 1px 0 #4e6167;
}
.dune-media-title h1 {
  margin: auto;
  color: var(--accent-color);
  font-size: 15vw;
  padding-bottom: 10px;
}
.cta-button {
  padding: 6px 24px;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: var(--black-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  display: inline-block;
}
.cta-button:hover {
  background-color: var(--accent-color);
  color: --white-color;
  border-color: var(--secondary-color);
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .header {
    height: 95vh;
  }
  .text-box {
    text-align: left;
  }
  .cta-button {
    font-size: 1.5rem;
    display: block;
  }
  .dune-media-title {
    text-align: center;
  }
  .dune-media-title h1 {
    text-align: left;
  }

  .span6,
  .span7,
  .span8,
  .span9,
  .span10 {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 455px) {
  .text-box {
    right: 0px;
    margin: 0 auto;
  }
}

/* About Section */
.about h2 {
  color: var(--secondary-color);
}
.about img {
  margin: 30px auto;
  display: block;
}

/* Line Section */
#line-animation {
  width: 100%;
  height: 2px;
  position: relative;
  padding: 0% !important;
}
.line {
  width: 0;
  height: 100%;
  background-color: #f8f8ff;
  position: absolute;
  top: 0;
  left: 0;
  animation: lineDrawToRight 1s forwards;
}

/* Services Section */
.services-section {
  padding: 100px 20px;
}

.services-section h2 {
  padding-bottom: 20px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

.service-group {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid rgb(0, 141, 185);
  box-shadow: 0 0 5px 2px rgba(0, 141, 185, 0.7);
}
.service-container h3 {
  color: var(--white-color);
  padding-top: 20px;
}
.service-container a {
  color: var(--accent-color) !important;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .service-group {
    width: 100% !important;
  }
}

/* Project Section */
.projects-section {
  padding: 80px 20px;
  overflow: hidden;
}
.slideshow-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.case-study {
  padding: 20px;
  text-align: left;
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.case-study blockquote {
  margin: 20px 0;
  font-size: large;
}

.case-study h3 {
  margin-bottom: 10px;
}

.case-study h4 {
  margin-top: 20px;
  font-size: x-large;
}

.case-study ul {
  list-style-type: disc;
  margin-left: 20px;
}

.case-study li {
  margin-bottom: 10px;
  font-size: large;
}

.case-study p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .case-study {
    padding: 15px;
  }
  .slideshow-container {
    grid-template-columns: 1fr;
  }
}


* {
  box-sizing: border-box;
}
.responsive {
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.desc {
  margin-top: 10px;
  font-size: 14px;
  color: #818181;
}

/* footer */
footer {
  color: var(--secondary-color);
  /* padding: 20px 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-links {
  padding: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-links a {
  font-size: xx-large;
  color: --white-color;
  text-decoration: none;
  margin-left: 20px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  color: --white-color;
  text-decoration: none;
  font-size: 40px;
  margin-right: 15px;
}
.social-icons a:hover {
  color: #ccc;
}
.footer-copyright {
  width: 100%;
  text-align: center;
}
/* contact form */
.form-container {
  max-width: 100%;
  padding: 20px;
  width: 50%;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .form-container {
    width: 100%; 
    max-width: 100%;
  }
  .footer-links {
    padding: 0;
  }
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: calc(100% - 12px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-color);
}
.form-group textarea {
  height: 120px;
  resize: vertical;
}
.button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.button:hover {
  background-color: var(--black-color);
}

/*animations*/
.dune-media-title span {
  display: inline-block;
  animation: bottomToTop 0.5s ease-in-out forwards;
  opacity: 0;
}
@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dune-media-title .span1 {
  animation-delay: 0.02s;
}
.dune-media-title .span2 {
  animation-delay: 0.04s;
}
.dune-media-title .span3 {
  animation-delay: 0.06s;
}
.dune-media-title .span4 {
  animation-delay: 0.08s;
}
.dune-media-title .span5 {
  animation-delay: 0.1s;
}
.dune-media-title .span6 {
  animation-delay: 0.12s;
}
.dune-media-title .span7 {
  animation-delay: 0.14s;
}
.dune-media-title .span8 {
  animation-delay: 0.16s;
}
.dune-media-title .span9 {
  animation-delay: 0.18s;
}
.dune-media-title .span10 {
  animation-delay: 0.2s;
}
.learn-more-link {
  text-decoration: none !important;
  color: var(--accent-color);
  position: relative;
}

.learn-more-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #d6ad60;
}

.learn-more-link:hover::after {
  transform-origin: left;
  animation: animate 0.4s linear forwards;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes lineDrawToRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
